*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container1{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
    padding: 0px 30px;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);
    min-width: 300px;
    position: fixed;
    z-index: 2;
}
.logo{
    height: 50px;
}
.left-container{
    display: flex;
    width: 50%;
    align-items: center;
}
.list-items{
    display: flex;
    list-style: none;
    width: 90%;
    justify-content: space-between;
    margin-left: 10px;
    height: 80px;
    align-items: center;
    flex-wrap: wrap;
   
}
.list-items i{
    display: none;
}
.list-items a{   
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    align-items: inline-block;
    text-decoration: none;
    color: black;
    padding:  26px 10px;

}

.item1 :hover{
    border-bottom: 4px solid #ee5f73;

}
.item2 :hover{
    border-bottom: 4px solid #fb56c1;

}
.item3 :hover{
    border-bottom: 4px solid #f26a10;

}
.item4 :hover{
    border-bottom: 4px solid #f2c210;

}
.item5 :hover{
    border-bottom: 4px solid #0db7af;

}
.item6 :hover{
    border-bottom: 4px solid #ff3f6c;

}

.right-container{
   
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: space-between;
}
.search-bar{
    display: flex;
    width: 65%;
    background: #bb9a9a;
    border: 2px solid #eee;
    border-radius: 6px;
    min-width: 300px;
}
.search-icon{
    height: 40px;
    background-color: #eee;
    align-items: center;
    padding: 10px;
    color: rgb(56, 50, 50);

}
.search-input{
    width: 100%;
    border: none;
    background-color:#eee ;
    border: 2px solid none;
    padding-left: 6px;
    outline: none;

}
.action-bar{
    width: 30%;
    display: flex;
    justify-content: space-between;
    
}
.action-bar div i{
    display: flex;
    margin-left: 5px;
    padding: 2px;
    font-size: 20px;

}
.action-bar p{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.list-items li sup{
    color: rgb(223, 46, 128);
    margin-left: 2px;
    font-size: 11px;
}
 /* media queries*/
@media (max-width:600px){ 
   
    .list-items li{
        display: none;
    }
   
    .list-items i{
        display: block;
        font-weight: 600;
        font-size: 14px;
    }
    .search-bar{
        position: absolute;
        top: 80px;
        left: 0px;
        width: 100%;
        padding: 0%; 
        height: 30px;    
        
    }
    .search-icon{
        height: 26px;
        padding: 3px 3px 5px 3px;
    }
    .search-input{
        width: 100%;
    }
    .container1{
        display: flex;
        justify-content: space-between;
        padding: 0%;
        width:100%;
        
    }
    .action-bar{
        position: absolute;
        right: 0px;
        gap: 10px;
    }
    .inner-footer-container{
        gap: 5px;
        margin: 0px;
    }

} 

.container2{
    width: 100%;
    padding: 100px 50px 0px 50px;
    display: flex;
    min-width: 300px;
}
.main-img1{ 
    width: 100%;
    height: 20%;

    z-index: 1;
  
}
.container3{
    width: 100%;
    display: flex;
    height: 100%;

}
.left-img{
    width: 100%;
   
}
.right-img{
    width: 100%;

}
.monsoon-img{
    height: 100%;
    width: 100%;
    min-width: 300px;
}
.container5{
    display: flex; 

}
.left-container5{
    width: 100%; 
 
}
 .right-container5{
    width: 100%; 
 } 
  .deal-img{
    width: 100%;
    height: 5%;
  }
  .image-list{
    width: 100%;
    display: flex;
    height: 100%;
  }

  .list-img{
    width: 100%;
  }

  .category{
    width: 100%;
  }
  .container8{
    display: flex;
    justify-content: center;
  }
  .category-img{
   height: 100%;
   width: 16.5%;
  }
  .img-last-container{
   height: 100%;
   width: 16.3%;
  } 
  .last-img{
    width: 100%;
  }
  .footer-container{
    width:100%;
    overflow: hidden;
  }
  .inner-footer-container{
    margin: 0px 100px 24px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .footer-column1{
    padding: 10px 2px;
    width: 15%;
    height: 10%;
  }
  .footer-column2{
    padding: 10px 2px;
    width: 30%;
    height: 10%;
  }
  h3{
    text-transform: uppercase;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    padding: 13px 0px;
  }
  .footer-list li{
    font-size: 12px;
    color:#696b79;
    font-size: 14px;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 155px;
    height: 24px;
    list-style: none;

  }
  .column-image1{
    height: 62px;
    width: 149px;
    margin: 0px 10px 0px 0px;   
 }
 .column-image2{
    height: 62px;
    width: 132px;
 }
 .youtube-img{
    width: 22px;
    height: 18px; 
    margin: 0px 20px 0px 0px;
 }
 .twitter-img{
    width: 20px; 
    height: 18px;  
    margin: 0px 20px 0px 0px;
 }
 .fb-img{
    width: 28px;
    height: 18px;
    margin: 0px 20px 0px 0px;
 }
 .insta-img{
    width: 20px; 
    height: 18px;
    margin: 0px 20px 0px 0px;
 }
 .guarantee-img{
    height:40px;
    width:48px;
 }
 .return-img{
    height:40px;
    width:48px;
 }
 strong{
    color: #282c3f;
    font-weight: 700;
    
 }
  .policy p{
    color:#696b79;
    font-size: 16px;
    display: inline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }
 .policy{
    width: 290px;
    height: 42px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;  
    justify-content: center;

 }
 .footer-column3{
    width: 30%;
    height: 159px;
    padding: 0px 30px;
   
 }
 .sec-policy strong{
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

 }
 .policy span{
    padding-left: 10px;
    
} 


 
 
 


    
    
